<div class="row">
    <div class="col-md-5">
        <h2>Aha Restaurant</h2>
        <a href="tel: 01201010101">01201010101</a>
        <p>Chợ Bà Chiểu</br>
        40 Hồng Bàng, 1, Bình Thạnh, Hồ Chí Minh, Vietnam
        </p>
    </div>
    <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4580.628995435513!2d106.69517905119612!3d10.798738543175954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67a251e98cb790e5!2zQ2jhu6MgQsOgIENoaeG7g3U!5e0!3m2!1sen!2s!4v1467703608891" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>