<h1>This is Aha Restaurant Menu</h1>

<div class="btn-group" role="group" aria-label="...">
    <% @sections.each do |section| %>
        <%= link_to section, menu_path(section: section), class: "btn btn-secondary" %>
    <% end %>
</div>

<% @food_items.in_groups_of(3) do | food_group | %>
    <div class="row">
        <% food_group.compact.each do | food_item | %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <%= image_tag(food_item.image_url_or_default) %>
                    <div class="caption">
                        <h3><%= food_item.name %></h3>
                        <p><%= food_item.description %></p>
                        <p>
                          <a href="#" class="btn btn-danger" role="button">Order</a> 
                        </p>
                    </div>
                </div>
            </div>    
        <% end %>
    </div>
<% end %>