<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h3 style="text-align: center">Order</h3>

<% if @order_items.size == 0 %>
  <h4>Oops. Nothing here!</h4>
  <p class="text-center">
    There are no items in your order.  Please <%= link_to "go back to menu", menu_path %> and order food.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'order_items/show', food_item: order_item.food_item, order_item: order_item %>
  <% end %>
  <form id="order_submitted" action="/order_created">
    <fieldset class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" placeholder="Enter your name">
    </fieldset>
    <fieldset class="form-group">
      <label for="phone_number">Phone Number</label>
      <input class="form-control" id="phone_number" placeholder="Enter your phone number">
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleTextarea">Address</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary">Create your order</button>
  </form>  
<% end %>
